:root {
  // colours

  --clr-primary-300: #6b7280;
  --clr-primary-200: hsl(250, 60%, 98%);

  --clr-primary-400: hsl(0, 0%, 0%);

  --clr-secondary-300: hsl(207, 100%, 91%);
  --clr-secondary-400: hsl(208, 84%, 52%);

  --clr-accent-300: hsl(168, 71%, 95%);
  --clr-accent-400: hsl(169, 79%, 42%);

  --clr-base: hsl(0, 0%, 100%);

  // card base and dashboard
  --clr-grey-300: rgb(243 244 246);
  --clr-grey-400: rgb(209 213 219);
  --clr-grey-500: #6b7280;

  --clr-black: hsl(0, 0%, 0%);

  // font family

  --ff-primary: "Inter", sans-serif;

  // font size

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2x: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */

  @media (min-width: 50em) {
  }

  // font weight

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  // border radius

  --border-radius: 7px;

  // box shadow

  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  // border color

  --clr-border: var(--clr-grey-400);

  // headers min height

  --header-height: 4.5rem;

  // animation

  --animation-350: 350ms ease-in;
  --animation-450: 450ms ease-in;
  --animation-750: 750ms ease-in;
}
