h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-weight: var(--fw-700);
  color: var(--fg, var(--clr-primary-400));
}

h2,
h3,
h4 {
  font-weight: var(--fw-500);
}

h1,
.h1 {
  font-size: var(--text-4xl);
}

h2,
.h2 {
  font-size: var(--text-xl);
}

h3,
.h3 {
  font-size: var(--text-lg);
}

.subtitle {
  color: var(--clr-primary-300);
}
